server:
  port: 8003
  servlet:
    context-path: /bank-api

bank:
  daily-limit: 1000

spring:
  cloud:
    aws:
      region:
        static: ${AWS_REGION:sa-east-1}
      sqs:
        endpoint: ${SQS_ENDPOINT:http://localhost:4566}


  application:
    name: bank-api

  datasource:
    url: jdbc:postgresql:${DB_URL://localhost:5432/bankdb}
    username: ${DB_USER:itau}
    password: ${DB_PASS:itau}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${MAX_POOL_SIZE:50}
      minimum-idle: ${MAX_IDLE:10}
      connection-timeout: ${CONN_TIMEOUT:30000}
      idle-timeout: ${IDLE_TIMEOUT:600000}
      max-lifetime: ${MAX_LIFE_TIME:1800000}

    properties:
      hibernate:
        id:
          new_generator_mappings: true
        format_sql: false
    hibernate:
      ddl-auto: validate
    show-sql: false

  cache:
    type: redis

  data:
    redis:
      port: ${REDIS_PORT:6379}
      host: ${REDIS_HOST:localhost}
      timeout: ${REDIS_TIMEOUT:2000}

aws:
  sqs:
    queue-name: ${SQS_BACEN_QUEUE_NAM:bacen-notification-queue}

cadastro:
  api:
    path:
      customerById: /customer/{customer_id}
    host: ${CADASTRO_HOST:http://localhost:8001}

bacen:
  api:
    host: ${BACEN_HOST:http://localhost:8002}

resilience4j:
  retry:
    instances:
      bacenRetry:
        max-attempts: 3
        wait-duration: 200ms
  circuitbreaker:
    instances:
      bacenCircuitBreaker:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s


management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info
  endpoint:
    prometheus:
      enabled: true
  server:
    port: 8003



